.pink {
    background-color: pink;
}

.blue {
    background-color: rgb(60, 161, 201);
}

.orange {
    background-color: orange;
}

.purple {
    background-color: rgb(201, 35, 201);
}

.green {
    background-color: rgb(91, 247, 91);
}

.lightblue {
    background-color: lightblue;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: rgb(255, 50, 50);
}

.green {
    background-color: rgb(153, 255, 0);
}

.lightpink {
    background-color: lightcoral;
}

.aqua {
    background-color: aqua;
}

.lightgreen {
    background-color: lightgreen;
}